.tituloListagem {
margin-left: 20px;
}

.listaTenis {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.cabecTabela {
    color: rgb(0, 0, 0);
    background-color: rgba(253, 253, 253, 0.541);
    font-size: 20px;
    text-align: center;
}

th, td {
    padding: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
}

.tabTituloRa {
    width: 100px;
}

.tabTituloNome {
    width: 400px;
}