div.content {
    width: 40%;
    height: 70%;
    padding: 60px;
    margin: auto;
}

main > div {
    background-color: rgba(255, 255, 255, 0.400);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.267);
    padding: 20px;
    border-radius: 25px;
}