nav.menu {
    margin-left: 950px;
    margin-top: 5px;
}

.menu a {
    text-decoration:underline;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 20px;
    margin-top: 10px;
}

.menu a:hover {
    color: #000000;
}